.footer{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 256px;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/dist/footer-bg.png') top center no-repeat;
    background-size: cover;
    filter: grayscale(1);
  }
  &__copyright{
    font-size: 14px;
    padding: 23px;
    font-family: Montserrat-my, sans-serif;
    a{
      margin: 0 5px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}